* {
    margin: 0;
}


body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 55px;
    color: #575757;
    font-weight: bold;
    margin-bottom: 20px;
}
h2{
    font-size: 40px;
    color: #707070;
    font-weight: bold;
    margin-bottom: 20px;
}
h3{
    font-size: 28px;
    color: #18191f;
    font-weight: bold;
    margin-bottom: 20px;
}
p{
    font-size: 20px;
    color: #575757;
}
.skip_diet{
    display: flex;
    padding: 5%;

}
.about_me{
    display: flex;
    padding: 5%;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0px;

}
.skip_diet_content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
 
.skip_diet_content p{
    margin-bottom: 40px;
    padding-right: 100px;
}
.skip_diet_content img{
    width: 95%;
}
.about_me_content img{
    width: 45%;
}
.heading_orange{
    color: #FBA24F;
}
.order_button{
    text-decoration: none;
    background-image: linear-gradient(to right,orange,red);
    padding: 20px 30px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
 
}

.about_me_description p{
    margin-bottom: 100px;
}
.recipe_heading{
    text-align: center;
    padding: 100px 0px 50px 0px;
}
.recipe{
    margin-bottom: 150px;
}
.recipe_items{
    display: flex;
    padding: 0 0 0 5%;
}
.item{
    width: 26%;
    border-radius: 30px;
    box-shadow: 10px 10px 30px lightgray;
    padding: 20px;
    text-align: center;
    margin-right: 5%;
}
.item img{
    width: 95%;
    border-radius: 30px;

}
.item_content{
    text-align: left;
    padding: 20px 0px;
}
.social{
    display: flex;
    justify-content: center;
}
.social_items{
    width: 90%;
    border-radius: 30px;
    box-shadow: 10px 10px 30px lightgray;
    padding: 50px 0px;
    display: flex;
    margin-bottom: 100px;

}
.social_item_content{
    width: 26%;
    text-align: center;
    margin: 0 8%;
}
.social_item_wrapper{
    text-align: left;
}
.social_item_content h3{
    font-size: 48px;

}
footer{
    background-color: #18191f;
    text-align: center;
    padding: 30px 0px 100px 0px;
}
.footer_content h3{
    font-size: 40px;
    color: #575757;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer_content p{
    color: white;
}